<h1>Template Driven</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmitForm(userForm)">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      matInput
      placeholder="Seu nome"
      name="name"
      [ngModel]="initialValues.name"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email  </mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      name="email"
      [ngModel]="initialValues.email"
    />
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
  >
    Enviar
  </button>
</form>
