<h1>Template Driven</h1>

<form #userForm="ngForm" (ngSubmit)="onSubmitForm(userForm)">
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input
      matInput
      placeholder="Seu nome"
      name="name"
      required
      ngModel
      #name
    />

    <mat-error *ngIf="!name.touched && !name.valid">
      O campo de nome é obrigatório.
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      name="email"
      ngModel
      email
      required
      #email
    />

    <mat-error *ngIf="!email.valid && !email.touched">O campo de email é obrigatório</mat-error>
  </mat-form-field>

  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!userForm.valid"
  >
    Enviar
  </button>
</form>
